In [25]:
import pandas as pd
import numpy as np
xmas = pd.read_csv("https://www.dropbox.com/scl/fi/qxaslqqp5p08i1650rpc4/xmas.csv?rlkey=erdxi7jbh7pqf9fh4lv4cayp5&dl=1")
xmas

    Day Day.in.Words  Gift.Item        Verb Adjective        Location
0     1        first  partridge         NaN       NaN  in a pear tree
1     2       second       dove         NaN    turtle             NaN
2     3        third        hen         NaN    french             NaN
3     4       fourth       bird         NaN   calling             NaN
4     5        fifth       ring         NaN    golden             NaN
5     6        sixth      goose    a-laying       NaN             NaN
6     7      seventh       swan  a-swimming       NaN             NaN
7     8       eighth       maid   a-milking       NaN             NaN
8     9        ninth       lady     dancing       NaN             NaN
9    10        tenth       lord   a-leaping       NaN             NaN
10   11     eleventh      piper      piping       NaN             NaN
11   12      twelfth    drummer    drumming       NaN             NaN

In [26]:
def pluralize_gift(gift):
  """
  Returns plural of a noun
  
  Parameters
  ----------
  gift: str
    A noun
    
  Return
  ------
  str
    Plural version
  """

  if "oo" in gift:
    gift = gift.replace("oo","ee")
  elif gift.endswith("y"):
    gift = gift[:-1] + "ies"
  else:
    gift = gift + "s"

  return gift

In [27]:
pluralize_gift = np.vectorize(pluralize_gift)

In [28]:
# Should work
pluralize_gift("goose")

# Will work if your function is vectorized! 
pluralize_gift(xmas['Gift.Item'])

array(['partridges', 'doves', 'hens', 'birds', 'rings', 'geese', 'swans',
       'maids', 'ladies', 'lords', 'pipers', 'drummers'], dtype='<U10')

In [36]:
num_word = {
    1: 'one',
    2: 'two',
    3: 'three',
    4: 'four',
    5: 'five',
    6: 'six',
    7: 'seven',
    8: 'eight',
    9: 'nine',
    10: 'ten',
    11: 'eleven',
    12: 'twelve',
}
xmas['num_words'] = xmas['Day'].map(num_word)

In [37]:
xmas

    Day Day.in.Words  Gift.Item        Verb Adjective        Location num_words
0     1        first  partridge         NaN       NaN  in a pear tree       one
1     2       second       dove         NaN    turtle             NaN       two
2     3        third        hen         NaN    french             NaN     three
3     4       fourth       bird         NaN   calling             NaN      four
4     5        fifth       ring         NaN    golden             NaN      five
5     6        sixth      goose    a-laying       NaN             NaN       six
6     7      seventh       swan  a-swimming       NaN             NaN     seven
7     8       eighth       maid   a-milking       NaN             NaN     eight
8     9        ninth       lady     dancing       NaN             NaN      nine
9    10        tenth       lord   a-leaping       NaN             NaN       ten
10   11     eleventh      piper      piping       NaN             NaN    eleven
11   12      twelfth    drummer    drumming       NaN             NaN    twelve

In [59]:
def make_phrase(day, num_words, item, verb, adjective, Location):
    """
    <documentation here>
    """
    
    ## Step 1: Replace NAs with blank strings
    verb = verb if verb is not np.nan else ""
    adjective = adjective if adjective is not np.nan else ""
    Location = Location if Location is not np.nan else ""
    
    ## Step 2: If the day number is larger than 1, the gift items need pluralized!
    ### Hint: call the function you created above!
    if day > 1:
        item = pluralize_gift(item)
  
    ## Step 3: Figure out if a gift item starts with a vowel
    vowels = 'aeiou'

    ## Step 4: For the first day, determine the article ("a" or "an")
    if day == 1:
        if item[0] in vowels:
            num_words = 'an'
        else:
            num_words = 'a'
    else:
        num_words = num_words
    ## Step 5: Put all of the pieces together into one string and return!
    phrase = " ".join([str(num_words), str(adjective), str(item), str(verb), str(Location)]).strip()
    return phrase

In [64]:
make_phrase(2,'two','dove','','turtle','')

'two turtle doves'

In [67]:
xmas['Full_Phrase'] = xmas.apply(lambda x: make_phrase(x['Day'], x['num_words'], x['Gift.Item'], x['Verb'], x['Adjective'], x['Location']), axis=1)
xmas

    Day  ...                   Full_Phrase
0     1  ...  a  partridge  in a pear tree
1     2  ...              two turtle doves
2     3  ...             three french hens
3     4  ...            four calling birds
4     5  ...             five golden rings
5     6  ...           six  geese a-laying
6     7  ...       seven  swans a-swimming
7     8  ...        eight  maids a-milking
8     9  ...          nine  ladies dancing
9    10  ...          ten  lords a-leaping
10   11  ...         eleven  pipers piping
11   12  ...     twelve  drummers drumming

[12 rows x 9 columns]

In [127]:
def sing_day(dataset, num, Full_Phrase):
    """
    <documentation>
    """
  
    # Step 1: Setup the intro line
    num_word = dataset['Day.in.Words'].iloc[num-1]  # convert "1" to "first" etc.
    intro = "On the " + num_word + " day of Christmas, my true love sent to me: \n"
  
    # Step 2: Sing the gift phrases
    phrases = []
    for i in range(num, 0, -1):
        phrase = dataset[Full_Phrase].iloc[i-1]
        phrase = " ".join(phrase.split())
        if i == 1:
            phrase = "and " + phrase + "."
        else:
            phrase = phrase + ","
        phrases.append(phrase)
    
    # Step 3: Join all phrases and combine with the intro
    gifts = '\n'.join(phrases)
    full = intro + gifts + '\n'

    return full

In [128]:
print(sing_day(xmas, 3, "Full_Phrase"))

On the third day of Christmas, my true love sent to me:
three french hens,
two turtle doves,
and a partridge in a pear tree.

On the third day of Christmas, my true love sent to me:
three french hens,
two turtle doves,
and a partridge in a pear tree.

In [132]:
def full_song(data):
    for i in range (1,13):
        print(sing_day(data, i, "Full_Phrase"))

full_song(xmas)

On the first day of Christmas, my true love sent to me:
and a partridge in a pear tree.

On the second day of Christmas, my true love sent to me:
two turtle doves,
and a partridge in a pear tree.

On the third day of Christmas, my true love sent to me:
three french hens,
two turtle doves,
and a partridge in a pear tree.

On the fourth day of Christmas, my true love sent to me:
four calling birds,
three french hens,
two turtle doves,
and a partridge in a pear tree.

On the fifth day of Christmas, my true love sent to me:
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a partridge in a pear tree.

On the sixth day of Christmas, my true love sent to me:
six geese a-laying,
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a partridge in a pear tree.

On the seventh day of Christmas, my true love sent to me:
seven swans a-swimming,
six geese a-laying,
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a partridge in a pear tree.

On the eighth day of Christmas, my true love sent to me:
eight maids a-milking,
seven swans a-swimming,
six geese a-laying,
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a partridge in a pear tree.

On the ninth day of Christmas, my true love sent to me:
nine ladies dancing,
eight maids a-milking,
seven swans a-swimming,
six geese a-laying,
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a partridge in a pear tree.

On the tenth day of Christmas, my true love sent to me:
ten lords a-leaping,
nine ladies dancing,
eight maids a-milking,
seven swans a-swimming,
six geese a-laying,
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a partridge in a pear tree.

On the eleventh day of Christmas, my true love sent to me:
eleven pipers piping,
ten lords a-leaping,
nine ladies dancing,
eight maids a-milking,
seven swans a-swimming,
six geese a-laying,
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a partridge in a pear tree.

On the twelfth day of Christmas, my true love sent to me:
twelve drummers drumming,
eleven pipers piping,
ten lords a-leaping,
nine ladies dancing,
eight maids a-milking,
seven swans a-swimming,
six geese a-laying,
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a partridge in a pear tree.

On the first day of Christmas, my true love sent to me:
and a partridge in a pear tree.

On the second day of Christmas, my true love sent to me:
two turtle doves,
and a partridge in a pear tree.

On the third day of Christmas, my true love sent to me:
three french hens,
two turtle doves,
and a partridge in a pear tree.

On the fourth day of Christmas, my true love sent to me:
four calling birds,
three french hens,
two turtle doves,
and a partridge in a pear tree.

On the fifth day of Christmas, my true love sent to me:
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a partridge in a pear tree.

On the sixth day of Christmas, my true love sent to me:
six geese a-laying,
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a partridge in a pear tree.

On the seventh day of Christmas, my true love sent to me:
seven swans a-swimming,
six geese a-laying,
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a partridge in a pear tree.

On the eighth day of Christmas, my true love sent to me:
eight maids a-milking,
seven swans a-swimming,
six geese a-laying,
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a partridge in a pear tree.

On the ninth day of Christmas, my true love sent to me:
nine ladies dancing,
eight maids a-milking,
seven swans a-swimming,
six geese a-laying,
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a partridge in a pear tree.

On the tenth day of Christmas, my true love sent to me:
ten lords a-leaping,
nine ladies dancing,
eight maids a-milking,
seven swans a-swimming,
six geese a-laying,
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a partridge in a pear tree.

On the eleventh day of Christmas, my true love sent to me:
eleven pipers piping,
ten lords a-leaping,
nine ladies dancing,
eight maids a-milking,
seven swans a-swimming,
six geese a-laying,
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a partridge in a pear tree.

On the twelfth day of Christmas, my true love sent to me:
twelve drummers drumming,
eleven pipers piping,
ten lords a-leaping,
nine ladies dancing,
eight maids a-milking,
seven swans a-swimming,
six geese a-laying,
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a partridge in a pear tree.

In [135]:
xmas2 = pd.read_csv("https://www.dropbox.com/scl/fi/p9x9k8xwuzs9rhp582vfy/xmas_2.csv?rlkey=kvc3j3lmyn4opcidsrhcmrof1&dl=1")
xmas2

    Day Day.in.Words Gift.Item         Verb Adjective       Location
0     1        first     email          NaN       NaN  from Cal Poly
1     2       second     point          NaN      meal            NaN
2     3        third       pen          NaN      lost            NaN
3     4       fourth    review          NaN    course            NaN
4     5        fifth      exam          NaN  practice            NaN
5     6        sixth    grader      grading       NaN            NaN
6     7      seventh    senior    stressing       NaN            NaN
7     8       eighth       mom    a-calling       NaN            NaN
8     9        ninth     party      bumping       NaN            NaN
9    10        tenth      load   of laundry       NaN            NaN
10   11     eleventh    friend  goodbye-ing       NaN            NaN
11   12      twelfth      hour     sleeping       NaN            NaN

In [140]:
xmas2["plural"] = pluralize_gift(xmas2["Gift.Item"])
xmas2

    Day Day.in.Words  ...   plural                   Full_Phrase
0     1        first  ...   emails  a  partridge  in a pear tree
1     2       second  ...   points              two turtle doves
2     3        third  ...     pens             three french hens
3     4       fourth  ...  reviews            four calling birds
4     5        fifth  ...    exams             five golden rings
5     6        sixth  ...  graders           six  geese a-laying
6     7      seventh  ...  seniors       seven  swans a-swimming
7     8       eighth  ...     moms        eight  maids a-milking
8     9        ninth  ...  parties          nine  ladies dancing
9    10        tenth  ...    loads          ten  lords a-leaping
10   11     eleventh  ...  friends         eleven  pipers piping
11   12      twelfth  ...    hours     twelve  drummers drumming

[12 rows x 8 columns]

In [142]:
xmas2['day_words2'] = xmas2['Day'].map(num_word)

In [144]:
xmas2['Full_Phrase'] = xmas2.apply(lambda y: make_phrase(y['Day'], y['day_words2'], y['Gift.Item'], y['Verb'], y['Adjective'], y['Location']), axis=1)
xmas2

    Day Day.in.Words Gift.Item  ...   plural                  Full_Phrase day_words2
0     1        first     email  ...   emails     an  email  from Cal Poly        one
1     2       second     point  ...   points              two meal points        two
2     3        third       pen  ...     pens              three lost pens      three
3     4       fourth    review  ...  reviews          four course reviews       four
4     5        fifth      exam  ...    exams          five practice exams       five
5     6        sixth    grader  ...  graders         six  graders grading        six
6     7      seventh    senior  ...  seniors     seven  seniors stressing      seven
7     8       eighth       mom  ...     moms        eight  moms a-calling      eight
8     9        ninth     party  ...  parties        nine  parties bumping       nine
9    10        tenth      load  ...    loads        ten  loads of laundry        ten
10   11     eleventh    friend  ...  friends  eleven  friends goodbye-ing     eleven
11   12      twelfth      hour  ...    hours       twelve  hours sleeping     twelve

[12 rows x 9 columns]

In [151]:
def full_song(data):
    for i in range (1,13):
        print(sing_day(data, i, "Full_Phrase"))

print(full_song(xmas2))

On the first day of Christmas, my true love sent to me:
and an email from Cal Poly.

On the second day of Christmas, my true love sent to me:
two meal points,
and an email from Cal Poly.

On the third day of Christmas, my true love sent to me:
three lost pens,
two meal points,
and an email from Cal Poly.

On the fourth day of Christmas, my true love sent to me:
four course reviews,
three lost pens,
two meal points,
and an email from Cal Poly.

On the fifth day of Christmas, my true love sent to me:
five practice exams,
four course reviews,
three lost pens,
two meal points,
and an email from Cal Poly.

On the sixth day of Christmas, my true love sent to me:
six graders grading,
five practice exams,
four course reviews,
three lost pens,
two meal points,
and an email from Cal Poly.

On the seventh day of Christmas, my true love sent to me:
seven seniors stressing,
six graders grading,
five practice exams,
four course reviews,
three lost pens,
two meal points,
and an email from Cal Poly.

On the eighth day of Christmas, my true love sent to me:
eight moms a-calling,
seven seniors stressing,
six graders grading,
five practice exams,
four course reviews,
three lost pens,
two meal points,
and an email from Cal Poly.

On the ninth day of Christmas, my true love sent to me:
nine parties bumping,
eight moms a-calling,
seven seniors stressing,
six graders grading,
five practice exams,
four course reviews,
three lost pens,
two meal points,
and an email from Cal Poly.

On the tenth day of Christmas, my true love sent to me:
ten loads of laundry,
nine parties bumping,
eight moms a-calling,
seven seniors stressing,
six graders grading,
five practice exams,
four course reviews,
three lost pens,
two meal points,
and an email from Cal Poly.

On the eleventh day of Christmas, my true love sent to me:
eleven friends goodbye-ing,
ten loads of laundry,
nine parties bumping,
eight moms a-calling,
seven seniors stressing,
six graders grading,
five practice exams,
four course reviews,
three lost pens,
two meal points,
and an email from Cal Poly.

On the twelfth day of Christmas, my true love sent to me:
twelve hours sleeping,
eleven friends goodbye-ing,
ten loads of laundry,
nine parties bumping,
eight moms a-calling,
seven seniors stressing,
six graders grading,
five practice exams,
four course reviews,
three lost pens,
two meal points,
and an email from Cal Poly.

None
On the first day of Christmas, my true love sent to me:
and an email from Cal Poly.

On the second day of Christmas, my true love sent to me:
two meal points,
and an email from Cal Poly.

On the third day of Christmas, my true love sent to me:
three lost pens,
two meal points,
and an email from Cal Poly.

On the fourth day of Christmas, my true love sent to me:
four course reviews,
three lost pens,
two meal points,
and an email from Cal Poly.

On the fifth day of Christmas, my true love sent to me:
five practice exams,
four course reviews,
three lost pens,
two meal points,
and an email from Cal Poly.

On the sixth day of Christmas, my true love sent to me:
six graders grading,
five practice exams,
four course reviews,
three lost pens,
two meal points,
and an email from Cal Poly.

On the seventh day of Christmas, my true love sent to me:
seven seniors stressing,
six graders grading,
five practice exams,
four course reviews,
three lost pens,
two meal points,
and an email from Cal Poly.

On the eighth day of Christmas, my true love sent to me:
eight moms a-calling,
seven seniors stressing,
six graders grading,
five practice exams,
four course reviews,
three lost pens,
two meal points,
and an email from Cal Poly.

On the ninth day of Christmas, my true love sent to me:
nine parties bumping,
eight moms a-calling,
seven seniors stressing,
six graders grading,
five practice exams,
four course reviews,
three lost pens,
two meal points,
and an email from Cal Poly.

On the tenth day of Christmas, my true love sent to me:
ten loads of laundry,
nine parties bumping,
eight moms a-calling,
seven seniors stressing,
six graders grading,
five practice exams,
four course reviews,
three lost pens,
two meal points,
and an email from Cal Poly.

On the eleventh day of Christmas, my true love sent to me:
eleven friends goodbye-ing,
ten loads of laundry,
nine parties bumping,
eight moms a-calling,
seven seniors stressing,
six graders grading,
five practice exams,
four course reviews,
three lost pens,
two meal points,
and an email from Cal Poly.

On the twelfth day of Christmas, my true love sent to me:
twelve hours sleeping,
eleven friends goodbye-ing,
ten loads of laundry,
nine parties bumping,
eight moms a-calling,
seven seniors stressing,
six graders grading,
five practice exams,
four course reviews,
three lost pens,
two meal points,
and an email from Cal Poly.

None

Rescources: Used ChatGPT to fill NA's with blank strings in my second function. Also used it to convert to strings when combining all the strings into a phrase. Also used google and chatgpt for various small errors I encountered along the way which typicaly involved changing very small details to make my underlying structure work. Used chat GPT to help me with the five extra points at the end for all the small gramatical things.