In [2]:
#0
import pandas
from pandas import *
data2 = read_csv("/Users/ethanschultz/Documents/GSB 544/Data Files/avocado-updated-2020.csv")
#1
data2.rename(columns = {"4046":"small_hass"}, inplace = True)
data2.rename(columns = {"4225":"large_hass"}, inplace = True)
data2.rename(columns = {"4770":"extra_large_hass"}, inplace = True)
data2

             date  average_price  ...  year             geography
0      2015-01-04           1.22  ...  2015                Albany
1      2015-01-04           1.79  ...  2015                Albany
2      2015-01-04           1.00  ...  2015               Atlanta
3      2015-01-04           1.76  ...  2015               Atlanta
4      2015-01-04           1.08  ...  2015  Baltimore/Washington
...           ...            ...  ...   ...                   ...
33040  2020-11-29           1.47  ...  2020            Total U.S.
33041  2020-11-29           0.91  ...  2020                  West
33042  2020-11-29           1.48  ...  2020                  West
33043  2020-11-29           0.67  ...  2020   West Tex/New Mexico
33044  2020-11-29           1.35  ...  2020   West Tex/New Mexico

[33045 rows x 13 columns]

#2
This data set has information about avocados from various years and dates within those years. It containts variables like price, the dtae of the observation, volume, the size of the avocados, the size of bags of avocados, whether or not the avocados were organic or not, and the geography of where the avocados came from.

In [33]:
geographys = data2['geography'].unique()
geographys
mapping_dict = {
    'Albany': 'Northeast', 'Baltimore/Washington': 'Northeast', 'Buffalo/Rochester': 'Northeast',
    'Hartford/Springfield': 'Northeast', 'New York': 'Northeast', 'Northern New England': 'Northeast',
    'Northeast': 'Northeast', 'Philadelphia': 'Northeast', 'Pittsburgh': 'Northeast', 'Syracuse': 'Northeast',
    'Atlanta': 'Southeast', 'Charlotte': 'Southeast', 'Jacksonville': 'Southeast',
    'Miami/Ft. Lauderdale': 'Southeast', 'Nashville': 'Southeast', 'Orlando': 'Southeast',
    'Raleigh/Greensboro': 'Southeast', 'Richmond/Norfolk': 'Southeast', 'Roanoke': 'Southeast',
    'South Carolina': 'Southeast', 'Southeast': 'Southeast', 'Tampa': 'Southeast',
    'Chicago': 'Midwest', 'Cincinnati/Dayton': 'Midwest', 'Columbus': 'Midwest', 'Detroit': 'Midwest',
    'Grand Rapids': 'Midwest', 'Great Lakes': 'Midwest', 'Indianapolis': 'Midwest',
    'Louisville': 'Midwest', 'Plains': 'Midwest', 'St. Louis': 'Midwest',
    'Dallas/Ft. Worth': 'Southwest & South Central', 'Houston': 'Southwest & South Central',
    'Las Vegas': 'Southwest & South Central', 'Midsouth': 'Southwest & South Central',
    'New Orleans/Mobile': 'Southwest & South Central', 'Phoenix/Tucson': 'Southwest & South Central',
    'South Central': 'Southwest & South Central', 'West Tex/New Mexico': 'Southwest & South Central',
    'Boise': 'West', 'California': 'West', 'Denver': 'West', 'Los Angeles': 'West',
    'Sacramento': 'West', 'San Diego': 'West', 'San Francisco': 'West',
    'Seattle': 'West', 'Spokane': 'West', 'Portland': 'West', 'West': 'West'
}

# Create new 'regions' column using .map()
data2['regions'] = data2['geography'].map(mapping_dict).fillna('Other')
data2

            date  average_price  total_volume  ...  month  day       area
0     2015-01-04           1.22      40873.28  ...      1    4      Metro
1     2015-01-04           1.79       1373.95  ...      1    4      Metro
2     2015-01-04           1.00     435021.49  ...      1    4      Metro
3     2015-01-04           1.76       3846.69  ...      1    4      Metro
4     2015-01-04           1.08     788025.06  ...      1    4      Metro
...          ...            ...           ...  ...    ...  ...        ...
33040 2020-11-29           1.47    1583056.27  ...     11   29  Non_metro
33041 2020-11-29           0.91    5811114.22  ...     11   29  Non_metro
33042 2020-11-29           1.48     289961.27  ...     11   29  Non_metro
33043 2020-11-29           0.67     822818.75  ...     11   29      Metro
33044 2020-11-29           1.35      24106.58  ...     11   29      Metro

[33045 rows x 17 columns]

In [4]:
#3
year2017 = data2[(data2['year'] == 2017) & (data2['type'] == 'organic')]
small_hass = year2017.groupby('regions')['small_hass'].sum().reset_index()
small_hass

                     regions  small_hass
0                    Midwest   514326.90
1                  Northeast  1825608.12
2                      Other  6907812.62
3                  Southeast   545334.81
4  Southwest & South Central  3165756.05
5                       West  5446464.04

We can see that the west sold the most total organic small hass avocados in 2017

In [5]:
#4
data2['date'] = to_datetime(data2['date'])
data2['year'] = data2['date'].dt.year
data2['month'] = data2['date'].dt.month
data2['day'] = data2['date'].dt.day
data2.groupby('month').mean('total_volume')

       average_price  total_volume  ...         year        day
month                               ...
1           1.287596  9.853122e+05  ...  2017.444444  15.518519
2           1.248885  1.095374e+06  ...  2017.500000  14.166667
3           1.316207  9.957150e+05  ...  2017.555556  15.592593
4           1.374765  1.016582e+06  ...  2017.500000  15.500000
5           1.362226  1.123632e+06  ...  2017.444444  16.407407
6           1.403636  1.051247e+06  ...  2017.560415  15.755745
7           1.457877  9.832681e+05  ...  2017.444444  16.074074
8           1.470107  9.499249e+05  ...  2017.500000  16.000000
9           1.485673  9.064773e+05  ...  2017.576923  15.346154
10          1.448109  8.446863e+05  ...  2017.423077  15.653846
11          1.361806  8.223470e+05  ...  2017.500000  15.000000
12          1.321063  8.076695e+05  ...  2016.948318  15.057045

[12 rows x 11 columns]

May produces the highest average volume for avocados

In [36]:
#5
import numpy
from numpy import *
#makes a variable with all regions we are not interested in for metro
region = ['Northeast', 'Southeast','Midwest','Southwest & South Central', 'West','South Central','Plains','Great Lakes','Total U.S.', 'Midsouth' ]
#In a new column assigns non-metro to matching values for region and geography else gives it metro
data2['area'] = where(data2['geography'].isin(region), 'Non_metro','Metro')
#Filters the data to only have metro regions
metro_regions = data2[data2['area'] == 'Metro']
#groups the data by geographies and sums the total volume while sorting them from largest to smallest
metro_regions.groupby('geography').sum('total_volume').sort_values(by='total_volume', ascending = False)
metro_average = metro_regions.groupby('geography').mean('total_volume').sort_values(by='total_volume', ascending = False)
metro_averagetop5 = ['Los Angeles','New York', 'Dallas/ Ft. Worth','Houston','Pheonix/Tuscon']
#filter the original dataset to only have the 5 metro regions above
top5_metro = data2[data2['geography'].isin(metro_averagetop5)]
top5_metro

            date  average_price  total_volume  ...  month  day   area
36    2015-01-04           0.71    1062990.62  ...      1    4  Metro
37    2015-01-04           1.22       8938.32  ...      1    4  Metro
44    2015-01-04           0.85    2682159.95  ...      1    4  Metro
45    2015-01-04           1.25      54495.54  ...      1    4  Metro
56    2015-01-04           1.09    1402890.20  ...      1    4  Metro
...          ...            ...           ...  ...    ...  ...    ...
32974 2020-11-29           1.29      24312.04  ...     11   29  Metro
32981 2020-11-29           1.06    2490232.13  ...     11   29  Metro
32982 2020-11-29           1.74     135939.83  ...     11   29  Metro
32993 2020-11-29           1.07    1907738.81  ...     11   29  Metro
32994 2020-11-29           1.73      69523.99  ...     11   29  Metro

[1836 rows x 17 columns]

We can see that the metro regions that sold the most total avocados are Los Angeles, New York, Dallas/Ft. Worth, Houston, and Pheonix/Tuscon.