In [7]:
#0
import pandas
from pandas import *
data2 = read_csv("/Users/ethanschultz/Documents/GSB 544/Data Files/avocado-updated-2020.csv")
#1
data2.rename(columns = {"4046":"small_hass"}, inplace = True)
data2.rename(columns = {"4225":"large_hass"}, inplace = True)
data2.rename(columns = {"4770":"extra_large_hass"}, inplace = True)
data2

             date  average_price  ...  year             geography
0      2015-01-04           1.22  ...  2015                Albany
1      2015-01-04           1.79  ...  2015                Albany
2      2015-01-04           1.00  ...  2015               Atlanta
3      2015-01-04           1.76  ...  2015               Atlanta
4      2015-01-04           1.08  ...  2015  Baltimore/Washington
...           ...            ...  ...   ...                   ...
33040  2020-11-29           1.47  ...  2020            Total U.S.
33041  2020-11-29           0.91  ...  2020                  West
33042  2020-11-29           1.48  ...  2020                  West
33043  2020-11-29           0.67  ...  2020   West Tex/New Mexico
33044  2020-11-29           1.35  ...  2020   West Tex/New Mexico

[33045 rows x 13 columns]

#2
This data set has information about avocados from various years and dates within those years. It containts variables like price, the dtae of the observation, volume, the size of the avocados, the size of bags of avocados, whether or not the avocados were organic or not, and the geography of where the avocados came from.

In [11]:
geographys = data2['geography'].unique()
geographys
mapping_dict = {
    'Albany': 'Northeast', 'Baltimore/Washington': 'Northeast', 'Buffalo/Rochester': 'Northeast',
    'Hartford/Springfield': 'Northeast', 'New York': 'Northeast', 'Northern New England': 'Northeast',
    'Northeast': 'Northeast', 'Philadelphia': 'Northeast', 'Pittsburgh': 'Northeast', 'Syracuse': 'Northeast',
    'Atlanta': 'Southeast', 'Charlotte': 'Southeast', 'Jacksonville': 'Southeast',
    'Miami/Ft. Lauderdale': 'Southeast', 'Nashville': 'Southeast', 'Orlando': 'Southeast',
    'Raleigh/Greensboro': 'Southeast', 'Richmond/Norfolk': 'Southeast', 'Roanoke': 'Southeast',
    'South Carolina': 'Southeast', 'Southeast': 'Southeast', 'Tampa': 'Southeast',
    'Chicago': 'Midwest', 'Cincinnati/Dayton': 'Midwest', 'Columbus': 'Midwest', 'Detroit': 'Midwest',
    'Grand Rapids': 'Midwest', 'Great Lakes': 'Midwest', 'Indianapolis': 'Midwest',
    'Louisville': 'Midwest', 'Plains': 'Midwest', 'St. Louis': 'Midwest',
    'Dallas/Ft. Worth': 'Southwest & South Central', 'Houston': 'Southwest & South Central',
    'Las Vegas': 'Southwest & South Central', 'Midsouth': 'Southwest & South Central',
    'New Orleans/Mobile': 'Southwest & South Central', 'Phoenix/Tucson': 'Southwest & South Central',
    'South Central': 'Southwest & South Central', 'West Tex/New Mexico': 'Southwest & South Central',
    'Boise': 'West', 'California': 'West', 'Denver': 'West', 'Los Angeles': 'West',
    'Sacramento': 'West', 'San Diego': 'West', 'San Francisco': 'West',
    'Seattle': 'West', 'Spokane': 'West', 'Portland': 'West', 'West': 'West'
}

# Create new 'regions' column using .map()
data2['regions'] = data2['geography'].map(mapping_dict).fillna('Other')
data2

             date  ...                    regions
0      2015-01-04  ...                  Northeast
1      2015-01-04  ...                  Northeast
2      2015-01-04  ...                  Southeast
3      2015-01-04  ...                  Southeast
4      2015-01-04  ...                  Northeast
...           ...  ...                        ...
33040  2020-11-29  ...                      Other
33041  2020-11-29  ...                       West
33042  2020-11-29  ...                       West
33043  2020-11-29  ...  Southwest & South Central
33044  2020-11-29  ...  Southwest & South Central

[33045 rows x 14 columns]

In [13]:
#3
data2.groupby('regions').sum('small_hass')

                           average_price  total_volume  ...  xlarge_bags      year
regions                                                 ...
Midwest                          8158.05  2.635496e+09  ...  38370772.24  12346860
Northeast                        9204.75  2.917646e+09  ...   8118593.48  12346860
Other                            2598.52  1.239188e+10  ...  97344646.14   3704058
Southeast                        9902.35  2.705103e+09  ...  13187048.95  14816232
Southwest & South Central        5921.11  4.897086e+09  ...  20226675.99   9871439
West                             9815.36  6.453557e+09  ...  78605972.54  13581546

[6 rows x 10 columns]